header{
	color: black;
}

header h1 {
	margin: 0;
}

nav ul {
	margin: 0;
}

nav ul li{
	display: inline-block;
	color: black;
	margin: 5px;
}

nav ul li a{
	color: black;
}

#word{
	color: black;
}

#image{
	border-radius: 30px;
	align-content: center;
	display: block;
	margin: auto;
	max-width: 50%;
	max-height: 30%;
}

footer ul{
	margin:0;
}

footer ul li{
	display: inline-block;;
	margin: 3px;
}